.ta-end {
    text-align: end;
}

.preview {
    display: block ruby;
    overflow: hidden;

    .filtre {
        top: 0;
        right: 0;
        width: 5rem;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);;
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

svg {
    vertical-align: sub !important;
}

.list-item:hover {
    background-color: rgb(248, 249, 250) !important;
}

main {
    min-height: calc(100vh - $bo-header-height - $bo-footer-height);
}

.container-fluid {
    margin-top: $bo-header-height;
}

#footer {
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.profile-picture {
    width: 2rem;
    height: 2rem;
}

.need-word-counter {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.word-counter {
    border: 1px solid rgb(196, 196, 196);
    border-bottom: 0;
    background-color: #fafafa;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    color: initial;
}
