/**
 * GamePicturesComponent.
 */
.gscrollbar-fixer {
    margin: auto !important;
}

.nav-games .form-control::placeholder {
    color: #{$color-light};
}

.glightbox {
    z-index: 10;
    transition: .3s;

    img {
        transition: .3s;
    }

    &-wrapper:hover img,
    &-wrapper:focus img {
        transform: scale(1.1) !important;
    }
}

.picture-likes {
    width: fit-content;
    min-width: 55px;
    height: 40px;
    transition: .3s !important;
}
