$font-path: "/resources/assets/fonts";

@font-face {
    font-family: rubik-regular;
    font-style: normal;
    font-weight: 400;
    src:
        url("#{$font-path}/RubikMonoOne-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: roboto-regular;
    font-style: normal;
    font-weight: 400;
    src:
        url("#{$font-path}/Roboto-Regular.ttf")
        format("truetype");
}
