@font-face {
    font-family: rubik-regular;
    font-style: normal;
    font-weight: 400;
    src:
        url("@/fonts/RubikMonoOne-Regular.ttf")
        format('truetype');
}

@font-face {
    font-family: roboto-regular;
    font-style: normal;
    font-weight: 400;
    src:
        url("@/fonts/Roboto-Regular.ttf")
        format('truetype');
}
