html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    height: fit-content;
    min-height: 100vh;
    padding: 0 $fo-body-padding;
    margin: 0;
    background-color: var(--color-first);
    color: var(--color-third);
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-light;
}

main {
    @include flex(row, center, flex-start);
    width: 100%;
}

a {
    color: var(--color-third);
    text-decoration: none;
    transition: $transition-time;

    &:hover {
        color: var(--color-second);
    }
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

svg {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-third);
    transition: $transition-time;
}
