footer {
    @include flex(row, center, center);
    width: calc(100% - $fo-header-width);
    height: $fo-footer-height;
    margin-left: $fo-header-width;

    .btn-top {
        position: fixed;
        right: 4vw;
        bottom: 4vw;
        transition: $transition-time;
    }

    p {
        margin: 0;
    }
}
