.nav {
    z-index: $zindex-fixed;
    bottom: 1rem;
    width: 30rem !important;
    max-width: calc(100% - 2rem);

    .game-selected {
        font-style: italic;

        svg {
            width: 16px;
        }
    }

    &-modal {
        overflow: hidden;
        max-width: 100%;
        max-height: $fo-menu-height;
        transition: $time-transition-global;

        &-hidden {
            overflow: hidden;
            max-height: 0;
            padding: 0 1rem !important;
            margin: 0 !important;
        }
    }

    &-games {
        &-list {
            height: calc($fo-menu-height - 8rem);
            overflow-y: auto;
        }

        a:hover svg {
            width: 16px;
        }
    }
}
