// * COLORS
$color-light: #ccc;
$color-dark: #fff;
$color-success: #fff;
$color-danger: #fff;
$color-info: #fff;
$color-warning: #fff;
$color-primary: #121416;
$color-secondary: #212529;

// * DIMENSIONS
$fo-menu-height: 30rem;

// * FONTS
$font-default-title: rubik-regular, sans-serif;
$font-default-family-base: roboto-regular, sans-serif;

// * OTHERS
$time-transition-global: 0.3s ease;
$time-transition-arrow: 0.1s ease;
