// * COLORS
$color-white: #fff;
$color-light: #dee2e6;
$color-dark: #000;
$color-success: #198754;
$color-danger: #d32e3e;
$color-info: #0bb2d3;
$color-warning: #ffc107;
$color-primary: #5A718A;
$color-secondary: #212529;

// * DIMENSIONS
$fo-menu-height: 31rem;

// * FONTS
$font-default-title: rubik-regular, sans-serif;
$font-default-family-base: roboto-regular, sans-serif;

// * OTHERS
$time-transition-global: 0.3s ease;
$time-transition-arrow: 0.1s ease;
