// Themes.
.dark-theme {
    --color-first: #212529;
    --color-second: #555;
    --color-third: #fff;
}

.light-theme {
    --color-first: #fff;
    --color-second: #555;
    --color-third: #212529;
    --color-fourth: #212529cc;
    --color-fifth: #ffae00;
}

// Dimensions.
$bo-header-height: 56px;
$bo-footer-height: 40px;
$fo-footer-height: 10rem;
$fo-menu-height: 30rem;

// Others:
$time-transition-global: 0.3s ease;
$time-transition-arrow: 0.1s ease;
