// Themes.
.dark-theme {
    --color-first: #212529;
    --color-second: #949494;
    --color-third: #fff;
}

.light-theme {
    --color-first: #fff;
    --color-second: #949494;
    --color-third: #212529;
}

// Fonts.
$font-family: "Antonio", sans-serif;
$font-light: 100;
$font-heavy: 700;
$font-size: 20px;

// Dimensions front.
$fo-body-padding: 10vw;
$fo-header-width: 24rem;
$fo-footer-height: 10rem;

// Dimensions back.
$bo-header-height: 56px;
$bo-footer-height: 40px;

// Others.
$transition-time: 0.2s;

