article {
    width: calc(100% - $header-width);
    min-height: calc(100vh - $footer-height);
    padding-left: 1rem;
    margin-left: $header-width;
    text-align: center;

    .wrapper {
        @include flex(row, space-around, center);
        flex-wrap: wrap;

        .content {
            width: 49.5%;
            height: fit-content;
            opacity: 0;
            transform: translateY(50%);
            transition: $transition-time;

            .image {
                width: 100%;

                &-soon {
                    border: 2px solid var(--color-second);
                }
            }
        }

        .content-in-view {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
