header {
    @include flex(column, center, flex-start);
    position: fixed;
    top: 0;
    left: $body-padding;
    width: $header-width;
    height: 100%;

    .search {
        @include flex(row, center, center);
        width: 100%;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid var(--color-second);

        input {
            &[type=text] {
                width: calc(100% - 2rem);
                height: 2rem;
                padding: 0;
                border: 0;
                background: transparent;
                color: var(--color-third);
                font-family: $font-family;
                font-size: $font-size;
                font-weight: $font-light;
                outline: none;
            }
        }

        span {
            @include flex(row, center, center);
            width: 2rem;
            cursor: pointer;
        }
    }

    nav {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        height: calc(100% - 20rem);
        padding: 1rem 0;
        overflow-y: scroll;

        a {
            svg {
                width: 0;
                height: 1rem;
            }

            span {
                @include visibility(0, hidden);
                transition: $transition-time;
            }

            &:hover {
                @include li-active();
            }
        }

        .no-result {
            padding-left: 3px;
            margin: 0;
            color: var(--color-second);
        }

        .nav-activated {
            @include li-active();
            cursor: default;
            font-style: italic;
            pointer-events: none;
        }
    }

    .btns {
        @include flex(row, flex-start, center);
        width: 100%;
        height: 4rem;
        border-top: 2px solid var(--color-second);

        .btn-theme,
        .btn-connect,
        .btn-github {
            width: 4rem;
            height: 2rem;
            padding: 0;
            margin: 0;

            &:hover svg {
                fill: var(--color-second);
            }
        }

        .btn-theme,
        .btn-connect {
            border-right: 2px solid var(--color-second);
        }

        .btn-theme {
            position: relative;

            .theme-light,
            .theme-dark {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 50%;
                opacity: 0;
                transform: translate(-50%, 100%) rotate(45deg);
            }

            .theme-activated {
                opacity: 1;
                transform: translate(-50%, 0);
            }
        }
    }
}
