@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin visibility($opacity, $visibility) {
    opacity: $opacity;
    visibility: $visibility;
}

@mixin li-active() {
    color: var(--color-second);

    svg {
        width: 1rem;
        fill: var(--color-second);
    }

    span {
        @include visibility(1, visible);
    }
}
