// Themes.
.dark-theme {
    --color-first: #212529;
    --color-second: #949494;
    --color-third: #fff;
}
.light-theme {
    --color-first: #fff;
    --color-second: #949494;
    --color-third: #212529;
}

// Fonts.
$font-family: 'Antonio', sans-serif;
$font-light: 100;
$font-heavy: 700;
$font-size: 20px;

// Dimensions.
$body-padding: 10vw;
$header-width: 24rem;
$footer-height: 10rem;

// Others.
$transition-time: .2s;